*{
    scroll-behavior: smooth;
}

a { 
    color: inherit; 
} 



.bg-blu-scuro {
    background-color:rgb(44,62,80)!important;
}

.bg-bluchiaro {
    background-color:rgb(58,84,109);
}

.bg-celestino {
    background-color: rgb(26,188,156);
}

.celestino {
    color: rgb(26,188,156);
}

/* navbare */

.navbar-toggler {
    color: white;
    border: 2px solid white;
}

.navbar-toggler-icon {
    filter:brightness(8);
}

#navbar .list-group {
    display: none;
}

#navbar .list-group-item {
    background-color:transparent;
    border: 0;
    padding: 0 0.5rem;
}

#navbar .list-group-item a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}


.star-line::before,
.star-line::after {
    content: "";
    display: inline-block;
    height: 3px;
    width: 20%;
    vertical-align:super;
    background-color: white;
}

#portfolio .star-line::before,
#portfolio .star-line::after,
#contact-me .star-line::before,
#contact-me .star-line::after {
    background-color:black;
}



#contact-me .form-control {
border: 0px transparent;
border-bottom: 0.1px solid grey;
border-radius: 0;
opacity: 0.3;
}

#contact-me .btn-primary {
    border-color: transparent;
}

#location .rounded-circle {
    height: 2rem;
    aspect-ratio: 1;
    text-align: center;
    line-height: 2rem;
}

.pointer  {
    cursor: pointer;
}

@media screen and (min-width:768px) {
    .navbar-toggler-icon,
    .navbar-toggler
    {
        display: none;
    }

    #navbar .list-group {
        display: flex;
    }

    .star-line::before,
    .star-line::after {
        width: 15%;
    }

    #avatar-box .w-50 {
        width: 25%!important;
    }

    #location .rounded-circle {
        height: 2.5rem;
        aspect-ratio: 1;
        text-align: center;
        line-height: 2.5rem;
    }
}

@media screen and (min-width:1024px) {
    #location .rounded-circle {
        height: 3rem;
        aspect-ratio: 1;
        text-align: center;
        line-height: 3rem;
    }

    .star-line::before,
    .star-line::after {
        width: 10%;
    }
}